.presentation {
  height: 80vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: rgb(57, 3, 249);
  background: linear-gradient(
    352deg,
    rgba(57, 3, 249, 1) 45%,
    rgba(4, 4, 24, 1) 70%
  );

  .titles {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h1 {
      color: rgba(40, 40, 236, 0.966);
      font-size: 3rem;
      padding: 1rem;
      text-align: center;
      line-height: 2rem;
      margin-top: 4rem;
      margin-bottom: 3rem;
    }
    h2 {
      font-size: 2rem;
      width: 500px;
      line-height: 3rem;
      justify-self: center;
      color: #fff;
    }
  }

  .image-home-container{
      width: 50%;
      display: flex;;
      justify-content: center;
 .image-home {
    width: 250px;
    align-self: center;
    border: 0;

    img {
      width: 100%;
    }
  }
 
  }
  button {
    width: 250px;
    height: 80px;
    background-color: rgba(8, 8, 8);
    border: 2px solid white;
    margin-bottom: 1rem;
    border-radius: 30px;
    font-size: 1.6rem;
    color: #fff;
    &:hover{
    width: 300px;    
    transition: 2s;
    font-size: 2rem;
    background-color: #fff;
    color: black;
}

  }

}
