.container {
  margin-inline: 4rem;
  margin-top: 2rem;
  border: none;
  border-radius: 5px;
  background-color: transparent;

  .container-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    .card {
      width: 320px;
      text-align: justify;
      margin: 2rem;
      border: 0.5px solid black;
      border-radius: 5px;
      padding: 1rem;
      background-color: rgba(255, 255, 255, 0.128);
      img {
        padding: 0.5rem;
        width: 100%;
      }

      h1 {
        color: white;
        font-size: 23px;
        padding: 0.5rem;
      }

      article {
        font-weight: bold;
        color: #fde94d;
        padding: 0.5rem;
        font-size: clamp(0.8rem, 0.9vw, 1rem);
      }
    }
  }
}
