@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100&display=swap");
nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #040418;
  height: 20vh;
}
nav .logo {
  width: 110px;
}
nav .logo img {
  width: 100%;
}
nav a {
  margin: 1rem;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.8rem;
  color: #e0dada;
}

.box-table {
  margin-inline: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  text-align: justify;
}
.box-table .coin-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 1rem;
}
.box-table .coin-container img {
  width: 40px;
}
.box-table .coin-container .coin-abbrName {
  text-transform: uppercase;
  color: dimgray;
}
.box-table .name-value {
  width: 300px;
}
.box-table .price {
  width: 200px;
}
.box-table .value-item {
  width: 180px;
}
.box-table .more-coins {
  width: 250px;
  padding: 1rem;
  justify-content: center;
}

thead:after {
  content: "@";
  display: block;
  line-height: 30px;
  text-indent: -99999px;
}

#tab-body > tr {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.presentation {
  height: 80vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #3903f9;
  background: linear-gradient(352deg, #3903f9 45%, #040418 70%);
}
.presentation .titles {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.presentation .titles h1 {
  color: rgba(40, 40, 236, 0.966);
  font-size: 3rem;
  padding: 1rem;
  text-align: center;
  line-height: 2rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.presentation .titles h2 {
  font-size: 2rem;
  width: 500px;
  line-height: 3rem;
  justify-self: center;
  color: #fff;
}
.presentation .image-home-container {
  width: 50%;
  display: flex;
  justify-content: center;
}
.presentation .image-home-container .image-home {
  width: 250px;
  align-self: center;
  border: 0;
}
.presentation .image-home-container .image-home img {
  width: 100%;
}
.presentation button {
  width: 250px;
  height: 80px;
  background-color: #080808;
  border: 2px solid white;
  margin-bottom: 1rem;
  border-radius: 30px;
  font-size: 1.6rem;
  color: #fff;
}
.presentation button:hover {
  width: 300px;
  transition: 2s;
  font-size: 2rem;
  background-color: #fff;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", serif;
}

body,
html {
  background-color: #fdfdfd;
}

.header-container {
  background-image: url(./assets/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 400px;
  margin-bottom: 2rem;
  position: relative;
}
.header-container .heading-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.48rem;
  font-family: Lato, serif;
  font-weight: 900;
  background: #0000005c;
  padding: 1rem;
  text-align: center;
  border-radius: 15px;
}
.header-container .heading-title h3 {
  font-size: 1.5rem;
  font-weight: 300;
}

button#load-more {
  padding: 1rem;
  border: 0;
  background: #9953db;
  color: white;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-top: 2rem;
}

/*# sourceMappingURL=style.css.map */
